<% if @over_ten %>
  <%= link_to 'Show Previous', '?m=all' %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-comment"></span> Chat
      </div>
      <div class="panel-body" id="chat-body">
        <ul class="chat">
          <% @messages.each do |message| %>
            <% if message.body %>
              <%= sync partial: 'message_row', resource: message %>

            <% end %>
          <% end %>
          <%= sync_new partial: 'message_row', resource: Message.new, direction: :append %>
        </ul>
      </div>
      <div class="panel-footer">
        <%= form_for [@conversation, @message], remote: true do |f| %>
        <div class="input-group">
          <%= f.text_area :body, class: "form-control input-sm", placeholder: "Type your message here..." %>
          <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
          <span class="input-group-btn">
            <%= f.submit "Send", class: "btn btn-warning btn-sm", id: "btn-chat" %>
          </span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
